@charset "UTF-8";
@font-face {
    font-family: 'Droid';
    src: url('fontes/idroid.otf') format('openype');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}

h1{
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 2px #000000cb;
    
}

h2.menu{
    color: #ffffff;
    text-align: left;
    text-shadow: 2px 2px 2px #000000a4;
}

header{
    padding: 10px;
    margin: 5px;
    background-image: linear-gradient(to bottom, #2FA866, #83E1AD);
    border-radius: 5px;
}

nav > a {
    text-decoration: none;
    color: #133304;
    font-weight: bold;
    margin-right: 20px;
}

a:hover{
    background-image: linear-gradient(to bottom, #063D1E,#3d6b52);
    color: white;
    width: 30px;
    border-radius: 2px;
}

main > article{
    background-color: #fff;
    padding: 5px;
    margin: 10px;
    border-radius: 10px 0px;
    border: 1px 1px 1px 1px green

}

div.curiosidades > ul{
    background-image: linear-gradient(to top, #158a3cda, #177417c5);
    color: #fff;
    border-radius: 4px;
    padding: 5px;
    margin: 1px;
}
