@charset "UTF-8";

 * {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%; */
}

body{
    background-image: linear-gradient(to top, #08456b, #00756a);
    background-attachment: fixed;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #021c2c49;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
 color: #627a13;
 text-align: center;
 text-shadow: 1px 1px 1px #485a0eda;
 
}
h2{
    color: #506803;

}
p {
    text-align: justify;
}